body {
	font-family: Tahoma;
	line-height: 1.3em;
	margin: 14px 0 0 0;
	padding: 0;
	font-size: 12px;
	text-align: center;
	color: #444444;
	background: #E5ECFA;

}

#page_bg {
	height: 100%;
	padding: 0;
	background: #E5ECFA;

}

#bottom_bg {
	background: #4FDCF7 url(../images/bottom_bg.jpg) bottom center repeat-x;
	padding: 0;
	margin: 0 auto;
}

#center {
	margin: 0 auto;
	width: px;
}

#center .topmenu {
	text-align: left;
	margin: 0 auto;
	padding: 0px 0 0;
	width: 907px;
	height: 44px;
	background: transparent url(../images/topmenu_bg.png) bottom center no-repeat;
}

.tmenu_div {
	float: left;	
	padding:0;
	margin:0;
	height: 30px;
	padding:10px 0 0 13px;
	width: 690px;
}


.pmenu {
	margin:0 auto;
}

.clr {
	clear: both;
	font-size:0;
	line-height:0;
}

body.contentpane {
	background: #fff;
	text-align: left;
}

body.contentpane .contentpaneopen {
	width: 99%;
}

body.contentpane .contentpaneopen .content {
	
}

.moduletable {
	margin: 0 auto;
}

select.button {
	width: auto;
	padding: 0;
}

td {
	font-family: Verdana, Arial, Tahoma, sans-serif;
	color: #444444;
	font-size: 12px;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li{
	line-height: 20px;
	padding-left: 12px;
	padding-top: 0px;
}

.pagenav_prev, .pagenav_next {
	font-family: Verdana, Arial, Tahoma, sans-serif;
	color: #333;
	font-size: 12px;
}

/* a links */

a {
	outline: none;
}

a:link, a:visited {
	text-decoration: underline;
	font-weight: normal;
	color: #829300;
}

a:hover {
	text-decoration: none;
	font-weight: normal;
	color: #829300;
}

p {
	margin-top: 0;
	margin-bottom: 5px;
	text-align: justify;
}

div.center {
	text-align: center;
	margin: 0 auto;
	padding: 0;
	width: 980px;
	background: url(../images/center_bg.png) top center repeat-y;
}

div#wrapper {
	padding: 2px 0px;
	width: 980px;
	margin: 0 auto;
	background: url(../images/center_bg_top.png) top center no-repeat;
}

.search_div {
	float: left;
	text-align:right;
	width: 180px;
	padding: 0px 0 0 13px;
	height: 44px;
	margin:0;
	background: url(../images/search_raz.png) bottom left no-repeat;
}

#search {
	padding: 0;
	margin: 10px 0 0 0;
}

#search form {
	margin:0;
	padding:0;
}

#search .moduletable {
	margin:0;
	padding:0;
}

#search .search {
	padding: 0;
	
}

#search .search .button {
	text-align: center;
	background: #93B74C url(../images/search_btn_bg.jpg) top center repeat-x;
	border: 0;
	font-size: 10px;
	color: #fff;
	float: left;
	margin: 0 0 0 5px;
	width: 60px;
	height: 24px;
	border:1px solid #669900;
	padding: 1px 0;
}

.inputbox {
	border: 1px solid #669900;
	padding: 2px;
}

#search .search .inputbox {
	line-height: 23px;
	font-size: 12px;
	color: #669900;
	background: #F5F8EE;
	margin:	0;
	width: 90px;
	height: 16px !important;
	height: 16px;	
	padding: 6px 0 0 6px;
	border: 1px solid #B9D08A;
	float: left;
	text-transform: capitalize;
}

#header {
	height: 216px;
	background: transparent url(../images/header.png) top center no-repeat;
	margin: 0 auto;
	width: 907px;
}

#hwrap {
	margin: 0 auto;
	padding: 0;
	width: 880px;	
}

#hw-left {
	float: left;
	width: 373px;
	height: 216px;
	background: transparent url(../images/header-1.jpg) top left no-repeat;	
}

#hw-right {
	float: left;
	width: 507px;
	height: 216px;
	background: transparent url(../images/header-r-bg.png) top left no-repeat;	
}

#hw-right .hwr-left {
	float: left;
	padding: 10px;
	width: 228px;
}

#hw-right .hwr-right {
	float: left;
	padding: 10px 0 0 10px;
	width: 238px;	
}

#hw-right .hwr-left .module, #hw-right .hwr-right .module {
	padding: 0;
	margin: 0;
	width: 230px;	
}

#hw-right #banner .module {
	width:468px;	
}

#hw-right #banner {
	margin:0 auto;
	padding:0;
	text-align: center;
}

#hw-right .hwr-left div.module_menu div div div, #hw-right .hwr-left div.module div div div,#hw-right .hwr-left div.module_menu div div, #hw-right .hwr-left div.module div div {
	padding: 0;
	margin: 0;
	background: none;	
}

#hw-right .hwr-right div.module_menu div div div, #hw-right .hwr-right div.module div div div,#hw-right .hwr-right div.module_menu div div, #hw-right .hwr-right div.module div div {
	padding: 0;
	margin: 0;
	background: none;	
}

#hw-right .hwr-right div.module_menu div div div,#hw-right .hwr-right div.module div div div, #hw-right .hwr-left div.module_menu div div div,#hw-right .hwr-left div.module div div div {
	text-align: left;
}

#hw-right .hwr-right div.module div div div ul, #hw-right .hwr-left div.module div div div ul {
	padding: 5px 5px 0 15px;	
	margin: 0;
	list-style: disc;
}

#hw-right .hwr-right div.module div div div ul, #hw-right .hwr-left div.module div div div ul {
	color: #1852D2;
	padding-top: 0;
	margin: 0;
}

#hw-right .hwr-right div.module div div div ul li, #hw-right .hwr-left div.module div div div ul li {
	padding: 0;
	margin: 0;
}

#hw-right .hwr-right div.module div div div ul li a, #hw-right .hwr-left div.module div div div ul li a {
	color: #CCDAF5;
	text-decoration: none;
}

#hw-right .hwr-right div.module div div div ul li a:hover , #hw-right .hwr-left div.module div div div ul li a:hover {
	color: #CCDAF5;
	text-decoration: underline;
}

#hw-right .hwr-left h3, #hw-right .hwr-right h3 {
	color: #fff;
	font-size: 14px;
	background: none;
	padding: 0;
	margin: 0;
}


#hw-right #banner div.module div div div div {
	text-align:center;
	margin: 0 auto;
	padding: 0;
}

#hw-right #banner div.module_menu div, #hw-right #banner div.module, #hw-right #banner div.module_menu div div, #hw-right #banner div.module div div {
	font-size: 0;	
	padding: 0;
	margin: 0 auto;
	height: 0;
}
#hw-right #banner div.module_menu div div div div div.bannergroup , #hw-right #banner div.module div div div div.bannergroup div.banneritem {
	font-size: 0;
	visibility:visible;
	padding:0;
	margin: 0 auto;

}

.maintable {
	margin: 0 auto;
	width: 900px;
	text-align: left;
}

#sitename {
	padding: 0;
	text-align: left;
	margin: 0;
	padding: 10px 0 0 20px;
}

#sitename p {
	font-weight: bold;
	font-family: Tahoma;
	font-size: 18px;
	padding:0;
	margin: 0;
	letter-spacing: 1px;
	color: #fff;
	text-decoration: none;
	outline: none;
}

#topnavi{
	padding: 0;
	margin:0 auto;
}

#topnavi ul {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}

#topnavi ul li {
	float: left;
	margin: 0 10px 0 0;
	padding: 0;
	background: transparent url(../images/pillm_rbg.png) top right no-repeat;

}

#topnavi ul li a{
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 12px;
	float: left;
	display: block;
	line-height: 26px;
	padding: 0 10px 0 10px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	background: transparent url(../images/pillm_lbg.png) top left no-repeat;
}

#topnavi ul li a:hover, #topnavi ul li a.current{
	color: #fff;
	text-decoration: underline;
	
}

#topnavi ul li a span{

}
#topnavi ul li a:hover span,#topnavi ul li a.current span {

}

div#timedate {
	font-size: 12px;
	font-weight: bold;
	color: #6691E1;
	text-align: center;
	padding: 5px 0 0 0;	
}

#leftmenu, #rightmenu  {
	margin: 0;
	width: 180px;
	float: left;
	padding: 0 0 10px 0;
	text-align: left;
}

#main {
	float: left;
	width: 520px;
	margin: 0;
	padding: 5px 0 0;
}

#main_full {
	float: left;
	width: 700px;
	margin: 0;
	padding: 5px 0 0;
}

div.cpathway {
	margin: 0 0 10px 0;
	padding: 0;
	height: 20px;
	background: transparent url(../images/cpathway-right.jpg) bottom right no-repeat;
}

div.cpathway div.cpleft {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 20px;
	background: transparent url(../images/cpathway-left.jpg) bottom left no-repeat;
}
div.cpathway span {
	padding: 0 10px;
	color: #FF9900;
}


#content {
	width: 880px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	text-align: left;
}

#footer {
	margin: 0 auto;
	text-align: center;
	width: 980px;
	height: 64px;
	background: transparent url(../images/footer_bg.png) top center no-repeat;
	line-height: 63px;
}

a.mainlevel:link, a.mainlevel:visited {
	line-height: 18px;
	padding: 0 0 0 12px;
	text-decoration: none;
	font-size: 11px;
	background: url(../images/menu_row.jpg) center left no-repeat;
	margin: 0;
	/*height: 18px;*/
	color: #84AD34;
	font-weight: bold;
	font-family: Tahoma;
}

a#active_menu.mainlevel:link, a#active_menu.mainlevel:visited {
	color: #ff9900;
	text-decoration: underline;
}

a#active_menu.sublevel:link, a#active_menu.sublevel:visited {
	color: #333;
}

a.mainlevel:hover {
	color: #ff9900;
	text-decoration: underline;
}

a.sublevel:link, a.sublevel:visited {
	text-decoration: none;
	color: #333;
	font-size: 11px;
	background: url(../images/submenu_row.jpg) center left no-repeat;
	font-weight: normal;
	line-height: 20px;
	padding: 0 0 0 20px;
	border: none;
}

a.sublevel:hover {
	color: #333;
	text-decoration: underline;
}

table.contentpaneopen {
	margin: 2px 8px;
}
table.contentpaneopen td.contentheading {
	padding: 0;
	font-family: Verdana, Arial, Tahoma, sans-serif;
	font-size: 12px;
	vertical-align: middle;
	color: #7FACFF;
	text-align: left;
	font-weight: bold;
}

.button {
	background: #84AD35;
	border: 0;
	font-size: 10px;
	color: #fff;
	padding: 3px 4px;
}


label[for="mod_login_username"] { 
	font-size: 11px;
	color: #607C24;
}

label[for="mod_login_password"] { 
	font-size: 11px;
	color: #607C24;
}

label[for="mod_login_remember"] { 
	font-size: 12px;
	color: #607C24;
}

#mod_login_remember  {
	border:0;
}

.copyright {
	font-size: 11px;
	text-align: center;
	color: #C4D37B;
	font-family: Verdana, Arial, Tahoma, sans-serif;
}

.back_button {
	float: left;
	text-align: center;
	font-size: 11px;
	font-weight: normal;
	width: auto;
	padding: 0px 10px;
	line-height: 20px;
	margin: 10px 0 50px 0;
}

.componentheading {
	margin: 0;
	font-family: Verdana, Arial, Tahoma, sans-serif;
	font-size: 14px;
	text-align: left;
	color: #7FACFF;
	font-weight: bold;
	padding: 0 0 0 10px;
}

.wrapper {
	width: 650px;
	height: 550px;
}

.module div div div h3 {
	font-family: Tahoma, Arial, sans-serif;	
	color: #fff; /*color: #4CAFC6;*/
	font-size: 13px;
	height: 30px;
	text-decoration: none;
	text-align: left;
	padding: 0 0 0 10px;
	background: url(../images/h3.png) top left no-repeat;
	font-weight: bold;
	line-height: 24px;
	margin: 0;
}

.module {
	padding: 0;
	margin: 10px 0 0 0;
	width: 180px;
}

.module div {
	padding: 0;
	margin: 0; /*bottom 14px*/
}

.module div div {
	padding:0;
	background: transparent url(../images/menu_bottom.png) bottom left no-repeat;
}

.module div div div {
	text-align: center;
	padding: 0px 0 20px;
	background: transparent url(../images/menu_top_out.png) top left no-repeat;
}

.module div div div  table td a.sublevel{
	float: left;

}

.module div div div div{
	background: none;
	border: none;
	padding: 0;
	margin:0;	
}

.module div div div table {
	margin: 0;
	padding: 5px 9px;
	list-style: none;
}

.module div div div div {
	
}

.module div div div div.syndicate {
	margin: 0;
	padding: 10px;
	width: 150px;
}

.module div div div div.syndicate div {
	background: none;
}

.module div div div form {
	text-align: left;
	padding: 6px 0;
	margin:0;
}

.module div div div form table {
	padding: 0 10px 0 10px;
	/*width: 100%;*/
}

.module div div div form table.poll {
	text-align: center;
	padding: 0;
}

.module div div div form table.poll  td table.pollstableborder{
	text-align: left;
	padding: 0 5px;
}

.module div div div form table.poll table.pollstableborder td.sectiontableentry1  {
	text-align: left;
}

/* footer links*/
a.sgfooter:link, a.sgfooter:visited {
	color: #C4D37B;
	font-size: 11px;
	font-family: Verdana, Arial, Tahoma, sans-serif;
	text-decoration: none;
}
a.sgfooter:hover {
	color: #C4D37B;
	font-family: Verdana, Arial, Tahoma, sans-serif;
	text-decoration: none;
}
/**/
/*banner*/
.sgf {
	font-size: 11px;
	font-family: Verdana, Arial, Tahoma, sans-serif;
	color: #C4D37B;
	text-decoration: none;
}
.sgf1 {
	font-size: 11px;
	font-family: Verdana, Arial, Tahoma, sans-serif;
	color: #7FACFF;
	text-align: left;
}

a.sglink:link, a.sglink:visited {
	color: #C4D37B;
	font-size: 11px;
	font-family: Verdana, Arial, Tahoma, sans-serif;
	text-decoration: none;
}
a.sglink:hover {
	text-decoration: none;
}

a img {
	border: 0;
}
.pathway {
	border: 0;
	font-size: 11px;
	color: #0FA8F3;
	font-family: Verdana, Arial, Tahoma, sans-serif;
	font-weight:normal;
	
}

.ptw {
	float: left;
	width: 600px;
	height: 40px;
	text-align: right;
}
a.pathway:link, a.pathway:visited {
	color: #0FA8F3;
	font-size: 11px;
	font-family: Verdana, Arial, Tahoma, sans-serif;
	font-weight: normal;
}

a.pathway:hover {
	color: #0FA8F3;
	font-family: Verdana, Arial, Tahoma, sans-serif;
	font-weight:normal;
	text-decoration: underline;
}
.pagenav {
	font-size:12px;
	font-weight:normal;
}
#topnavigation a.topnavigation:link, a.topnavigation:visited {
	font-family: Verdana, Arial, Tahoma, sans-serif;
	font-size: 10px;
	font-weight: normal;
	letter-spacing : 1px;
	color: #fefefe;
	padding-right:5px;
	text-decoration:none;
}
#topnavigation a.topnavigation:hover {
	color: #b9f15d;
	border-bottom: none;
	text-decoration:none;	
}
#topnavigation a.topnavigation:active {
	color: #51c0f5;
	text-decoration:none;	
}
a.toclink:link, a.toclink:visited {
	line-height:normal;
	font-size:11px;
	font-family: Verdana, Arial, Tahoma, sans-serif;
	color: #000000;
	text-decoration: underline;
}
a.toclink:hover {
	text-decoration: none;
}
table.contenttoc {
	padding: 2px;
	margin-left: 2px;
	margin-bottom: 2px;
}


table.contenttoc th {
	color: #333;
	text-align: left;
	padding-top: 2px;
	padding-left: 4px;
	height: 21px;
	font-weight: normal;
	font-size: 11px;
	text-transform: uppercase;
}
.sectiontableheader {
	height: 20px;
	padding-right:3px;
	font-weight :normal;
}

table.contentpane {
	padding: 0 0 0 10px;
}

table.contentpane td.contentdescription {
	font-size:12px;
	line-height:18px;
	padding: 0 0 0 10px;
}

table.contentpane td.componentheading {
	height: 20px;
	padding: 0 0 3px 0;
	color: #555;
	text-align: left;
	padding-bottom:3px;
	white-space: nowrap;
	font-family: Verdana, Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: normal;
}
table.contentpane td {
	padding-top:1px;
	padding-bottom:2px;
	font-size:12px;
}
table.contentpaneopen td {
	line-height: 14px;
}

.height {
	height: 100%;
}

.small {
	font-size: 9px;
	color: #84AD33;
	font-weight: normal;
	text-align: left;
}

.createdate {
	height: 20px;
	vertical-align: top;
	font-size: 9px;
	color: #84AD33;
	font-weight: normal;
	vertical-align: top;
	padding-top: 0px;
}

.modifydate {
	height: 20px;
	vertical-align: bottom;
	font-size: 9px;
	color: #84AD33;
	font-weight: normal;
	text-align: right;
}

table.contentpaneopen td a.readon{
	display: block;
	float: right;
	line-height: 14px;
	font-size: 10px;
	text-decoration: none;
	padding: 1px 0 1px 0;
	color: #829300;
	border-bottom: solid 1px #829300;
}

table.contentpaneopen td a.readon:hover{
	color: #829300;
	text-decoration: none;
	border-bottom: solid 1px #fff;
}

.blog_more {
	margin: 2px 8px;
}

h4 {
	font-size: 10px;
	text-transform: uppercase;
}
table.contentpaneopen td.buttonheading {
	}
	
a.blogsection {
	text-decoration: none;
	padding: 0 0 2px;
	border-bottom: solid 1px #829300;
}